<div id="diary" class="closed">
    <p id="diaryContent"></p>
        <button id="previousChoice">previous page</button>
    <button id="nextChoice">next page</button>
</div>

<article id="endStory" class="off">
    <img src="assets/imgConc.png" alt="faudrait en mettre 1" />
    <h1>Maintenant écris la suite</h1>
    <p>Te voilà à la fin de l’expérience ; t’attendais-tu à ce résultat ? Il n’appartient qu’à toi d’en faire ta réalité. Rigueur, concentration et persévérance seront les maîtres-mots de ta réussite.</p>
    <button class="athlete gradient3">D&eacutecouvre l'histoire de grands sportifs</button>
    <button class="restart gradientGris">Revivre l'exp&eacuterience</button>
</article>

<article id="athletePage">
    <div class="interBorder">
        <div class="athlete1">
            <img src="assets/nadal.png" class="imgLeft"/>
            <h3>Rafael Nadal</h3>
            <p>Tout ce que je ressens quand je suis menacé, c'est que je dois me dépasser encore plus. C'est mon seul sentiment. "Résiste encore un peu plus, tu ne sais pas combien de temps l'adversaire va tenir encore. Je me sens mal, mais peut-être que l'autre a aussi atteint ses limites. Il faut le pousser dans ses retranchements pour voir si tu gagnes à la fin." Cet effort supplémentaire vaut toujours le coup, que tu perdes ou que tu gagnes. C'est un problème de satisfaction personnelle quand tu retournes au vestiaire. C'est magique. Ces sentiments sont vraiment difficiles à expliquer.</p>
            <div class="clear"></div>
        </div>
    </div>
    <div class="interBorder">
        <div class="athlete2">
            <img src="assets/felix.png" class="imgRight"/>
            <h3>Allyson Felix</h3>
            <p>Mon plus beau souvenir c'est ma médaille d'or au 200m aux JO de Londres. C'était mon troisième essai sur 200, et c'était surtout à propos du chemin que j'ai parcouru, les hauts et les bas juste après les JO. J'avais eu deux médailles d'argent aux précédents, et là, mon temps était venu. La chose la plus importante quand on débute c'est d'être patient et d'aimer ce qu'on fait. Quand on est jeune, tout est à propos d'avoir tout, tout de suite, avec le succès instantané. Mais c'est un processus long et douloureux fait de travail et d'entraînement.</p>
            <div class="clear"></div>
        </div>
    </div>
    <div class="interBorder">
        <div class="athlete3">
            <img src="assets/bryant.png" class="imgLeft"/>
            <h3>Kobe Bryant</h3>
            <p>Peu importe ce que tu fais, si tu veux être un basketteur professionnel, un écrivain ou un animateur TV, ou quoi que ce soit d'autre. Ce qui importe c'est d'être sûr que tu es dévoué corps-et-âme à atteindre ce but-là et que tu apprennes des meilleurs. Peu importe ce qu'ils font, il y a toujours un dénominateur commun entre ce qui a rendu les gens meilleur, et ce qui a séparé les bons des meilleurs.</p>
            <div class="clear"></div>
        </div>
    </div>
    <div class="interBorder3">
        <div id="rewrite">
            <p>Envie de réécrire ton histoire ? Tu peux revivre l'expérience.</p>
            <button class="restart gradientGris">Revivre l'exp&eacuterience</button>
        </diV>
    </div>
</article>

<script type="text/javascript" src="js/endCtrl.js"></script>