<article id="diary" class="closed">
   <div id="textDiary">
     <p id="diaryContent"></p>
    <form>
        <textarea type="text" name="answer" id="answer" cols"59" ></textarea>
    </form>
     </div>
</article>

<!-- user information part (big band) -->
<article id="profilBar" class="gradient">
  <!-- left part of user info -->
  <div class="leftBloc">
    <!-- user picture -->
    <img src="assets/leonardo.jpg" style="width:113px;height:113px" class="profilPicture" />
    <!-- user description -->
    <div id="profilDescription">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <!-- right part of user info -->
  <div class="rightBloc">
    <!-- user statistics -->
    <div id="profilStats">
      <ul>
        <li><span class="profilKm">308</span><br/><span>KM TOTAL</span></li>
        <li><span class="profilCalories">20.4K</span><br/><span>CALORIES BRUL&EacuteES</span></li>
        <li><span class="profilAverage">11.8</span><br/><span>VITESSE KM/H</span></li>
        <li><span class="profilHours">202</span><br/><span>MINUTES COURRUES</span></li>
      </ul>
    </div>
    <!-- user level (shoes) -->
    <div id="profilShoes">
      <p>CHAUSSURES ACTUELLES</p>
      <p>Nike Flyknit lunar +1</p>
      <a href="http://store.nike.com/fr/fr_fr/pw/chaussures/brk" alt="Boutique chaussures Nike" target="_blank" rel="nofollow"><img src="assets/nikeShoes.png" class="shoe"/></a>
    </div>
  </div>
</article>

<!-- user information label -->
<article id="miniBar" class="gradient2 visible">
  <img style="width:42px; height:42px;" class="miniPicture"/>
  <p></p>
  <img src="assets/icon.png" class="picto"/>
</article>

<article id="endChapter">
  <p class="chapter"></p>
  <h2></h2>
  <p class="text"></p>
  <button class="buttonNext gradient3"><span>Prochaine étape</span></button>
</article>

<video>
	<source src="" type="video/mp4">
  <source src="" type="video/ogg">
  <p>Your user agent does not support the HTML5 Video element.</p>
</video>

<script type="text/javascript" src="js/expCtrl.js"></script>